Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Module/bin/
Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Module/obj/
Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Web/obj/
Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Web/bin/
Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Module.Web/obj/
Wiki.Sample.NonPersistenObjects/Wiki.Sample.NonPersistenObjects.Module.Web/bin/
